<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lacteos"></ion-back-button>
    </ion-buttons>
    <ion-title>Carrito de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Mostrar los productos del pedido -->
  <ion-list>
    <ion-item-divider>
      <ion-label>Pedido del {{ carrito.fecha }}</ion-label>
    </ion-item-divider>

    <!-- Productos de este pedido -->
    <ion-item *ngFor="let item of carrito.productos">
      <ion-thumbnail slot="start">
        <img [src]="item.image">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.nombre }}</h2>
        <p>{{ item.precio | currency }} x {{ item.cantidad }}</p>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button (click)="actualizarCantidad(item, 'decrementar')" color="light">
          <ion-icon slot="icon-only" name="remove"></ion-icon>
        </ion-button>
        <ion-input [(ngModel)]="item.cantidad" type="number" readonly (ngModelChange)="actualizarTotal()"></ion-input>
        <ion-button (click)="actualizarCantidad(item, 'incrementar')" color="primary">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="eliminarItem(item)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" (click)="vaciarCanasta()" size="small" color="danger">
          Vaciar Canasta
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label>Total: {{ total | currency }}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" (click)="pedir()" size="small" color="primary">
          Pedir
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>






