<ion-header>
  <ion-toolbar>
    <ion-title>Historial de Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Pedido 1 -->
    <ion-item>
      <ion-label>
        <h2>PEDIDO 1 FECHA 10/11/2020</h2>
      </ion-label>
      
      <!-- Botón para generar el código QR -->
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="qr-code-outline"></ion-icon>
      </ion-button>

      <!-- Botón para cambiar la fecha del pedido -->
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Pedido 2 -->
    <ion-item>
      <ion-label>
        <h2>PEDIDO 2 FECHA 13/11/2020</h2>
      </ion-label>
      
      <!-- Botón para generar el código QR -->
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="qr-code-outline"></ion-icon>
      </ion-button>

      <!-- Botón para cambiar la fecha del pedido -->
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <!-- Pedido 3 -->
    <ion-item>
      <ion-label>
        <h2>PEDIDO 3 FECHA 11/12/2020</h2>
      </ion-label>
      
      <!-- Botón para generar el código QR -->
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="qr-code-outline"></ion-icon>
      </ion-button>

      <!-- Botón para cambiar la fecha del pedido -->
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>