<ion-header>
  <ion-toolbar color="primary">
    <ion-title>¡Bienvenido!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Banner de Aniversario -->
  <ion-card class="aniversario-banner">
    <ion-img src="assets/images/cafe.jpg"></ion-img>
  </ion-card>

  <!-- Recordatorios de Pedido -->
  <ion-list>
    <ion-item *ngFor="let pedido of pedidos">
      <ion-card (click)="verDetallesPedido(pedido)">
        <ion-card-header>
          <ion-icon name="time-outline" slot="start"></ion-icon>
          <ion-card-title>
            Tu pedido se recoge el: {{ pedido.fecha }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let producto of pedido.productos">
              <ion-label>
                Producto: {{ producto.nombre }} - Cantidad: {{ producto.cantidad }} - Precio: {{ producto.precio | currency }}
              </ion-label>
              <ion-img [src]="producto.image" alt="{{ producto.nombre }}" style="width: 50px; height: auto;"></ion-img>
            </ion-item>
          </ion-list>
          <p>Total: {{ pedido.total | currency }}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>









