<ion-header>
  <ion-toolbar>
    <ion-title>Resumen de Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="pedido; else noPedido">
    <h2>Fecha y Hora:</h2>
    <p>{{ pedido.fecha }}</p>

    <h2>Productos:</h2>
    <ion-list>
      <ion-item *ngFor="let producto of pedido.productos">
        {{ producto.nombre }} - {{ producto.cantidad }} x ${{ producto.precio }}
      </ion-item>
    </ion-list>

    <h2>Total: ${{ pedido.total }}</h2>
    <ion-button expand="full" (click)="aceptar()">Aceptar</ion-button>
  </div>

  <ng-template #noPedido>
    <p>No hay un pedido disponible.</p>
  </ng-template>
</ion-content>
