ion-header {
  background-color: #3880ff;
  color: white;

  ion-toolbar {
    --background: #3880ff;
    --color: white;
    ion-title {
      font-weight: bold;
    }
  }
}

ion-content {
  --background: #f3f4f6;
  
  ion-list {
    margin: 20px;
    border-radius: 10px;
    background: #fff;

    ion-item-divider {
      --background: #dedede;
      color: #333;
      font-weight: bold;
      border-radius: 10px 10px 0 0;
    }

    ion-item {
      --background: #fff;
      margin: 8px 0;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      ion-thumbnail {
        border-radius: 10px;
        img {
          border-radius: 10px;
        }
      }

      ion-label {
        font-size: 16px;
        h2 {
          font-weight: bold;
        }
      }
    }
  }

  ion-item {
    --background: transparent;
    margin: 20px;
    font-weight: bold;

    ion-label {
      font-size: 18px;
      font-weight: bold;
    }
  }
}
