<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/explorar"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Mi Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Verificar si hay datos del usuario -->
  <div *ngIf="usuario && hasKeys(usuario)">
    <ion-list>
      <!-- Nombres -->
      <ion-item>
        <ion-label position="stacked">Nombres</ion-label>
        <ion-input [(ngModel)]="usuario.nombre"></ion-input>
      </ion-item>

      <!-- Apellidos -->
      <ion-item>
        <ion-label position="stacked">Apellidos</ion-label>
        <ion-input [(ngModel)]="usuario.apellidos"></ion-input>
      </ion-item>

      <!-- Email (No editable) -->
      <ion-item>
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input [(ngModel)]="usuario.correo" readonly type="email"></ion-input>
      </ion-item>

      <!-- Celular -->
      <ion-item>
        <ion-label position="stacked">Celular</ion-label>
        <ion-input [(ngModel)]="usuario.telefono" type="tel"></ion-input>
      </ion-item>

      <!-- Dirección -->
      <ion-item>
        <ion-label position="stacked">Dirección</ion-label>
        <ion-input [(ngModel)]="usuario.direccion"></ion-input>
      </ion-item>

      <!-- Sexo -->
      <ion-item>
        <ion-label position="stacked">Sexo</ion-label>
        <ion-select [(ngModel)]="usuario.sexo">
          <ion-select-option value="masculino">Masculino</ion-select-option>
          <ion-select-option value="femenino">Femenino</ion-select-option>
          <ion-select-option value="otro">Otro</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Contraseña (No editable) -->
      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" value="******" readonly></ion-input>
        <ion-button fill="clear" size="small" slot="end" (click)="navegarSeguridad()">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <!-- Botón de Actualizar -->
    <ion-button expand="block" color="primary" (click)="actualizarPerfil()">Actualizar</ion-button>

    <!-- Botón de Cerrar Sesión -->
    <ion-button expand="block" color="danger" (click)="cerrarSesion()">Cerrar Sesión</ion-button>
  </div>
</ion-content>
