<ion-header>
  <ion-toolbar>
    <ion-title>
      Seguridad
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="security-container">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Contraseña Actual</ion-label>
        <ion-input type="password" placeholder="Contraseña Actual"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nueva Contraseña</ion-label>
        <ion-input type="password" placeholder="Nueva Contraseña"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Confirmar Nueva Contraseña</ion-label>
        <ion-input type="password" placeholder="Confirmar Nueva Contraseña"></ion-input>
      </ion-item>

      <ion-button expand="block">Actualizar Contraseña</ion-button>
    </ion-list>
  </div>
</ion-content>
