<ion-header>
  <ion-toolbar>
    <ion-title>Abarrotes Velázquez</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToCarrito()">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Buscar producto"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let category of categories">
        <ion-card (click)="navigateToCategory(category)">
          <img [src]="category.image" alt="{{ category.name }}" />
          <ion-card-content>
            <p class="category-title">{{ category.name }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>












